
    body{
        margin:0px;
    }
     .body-bg {
         position:absolute;
         top:0;
         left: 0;
         background: url('../background.jpg');
         background-size:cover;
         width: 100%;
         height: 100%;
         z-index: -1111;
        }
        .body-fg{
            position:absolute;
            top:0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
        }
        .contact-me{
            position: absolute;
            bottom: 5em;
            margin: 0 50% 0 50%;
            left:-3.5em;
            width: 7em;
            font-family: 'DynaPuff', cursive;
            background-color: rgba(0, 0, 0, 0.0);
            border: none;
            
            
        }
        .material-symbols-outlined{
            margin: 1em ;
            
        }
        .name{
           padding-right: 0.5em;
           padding-left: 0.5em;
            border-radius: 1em;
            width: fit-content;
            background-color: rgb(255, 255, 255);
            color: rgb(56, 25, 4);
        }
        .links{
            display: flex;
        }

       .contact{
        
            display: none; 
            position: fixed; 
            z-index: 1; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            overflow: auto; 
            background-color: rgb(0,0,0); 
            background-color: rgba(0,0,0,0.4); 
            -webkit-animation-name: fadeIn; 
            -webkit-animation-duration: 0.4s;
            animation-name: fadeIn;
            animation-duration: 0.4s
       }

            .contact-content {
            position: fixed;
            bottom: 10%;
            background-color: #fefefe;
            left:10%;
            width: 80%;
            -webkit-animation-name: slideIn;
            -webkit-animation-duration: 0.4s;
            animation-name: slideIn;
            animation-duration: 0.4s
            }

            .close {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
            }

            .close:hover,
            .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            }

            .contact-header {
            padding: 2px 16px;
            background-color: #d16d45;
            color: white;
            }

            .contact-body {padding: 2px 16px;}

            .contact-footer {
            padding: 2px 16px;
            background-color:#d16d45;
            color: white;
            }

                /* Add Animation */
                @-webkit-keyframes slideIn {
                from {bottom: -300px; opacity: 0} 
                to {bottom: 0; opacity: 1}
                }

                @keyframes slideIn {
                from {bottom: -300px; opacity: 0}
                to {bottom: 0; opacity: 1}
                }

                @-webkit-keyframes fadeIn {
                from {opacity: 0} 
                to {opacity: 1}
                }

                @keyframes fadeIn {
                from {opacity: 0} 
                to {opacity: 1}
                }

