
    body{
        margin:0px;
    }
   #menu{
        padding:0px;
        border-style: none;
        background-color: transparent;
      
        
    }
    #menu:hover,
    #menu:focus{

        cursor: pointer;
        
    }
    .launcher{
        padding-right: 0.5em;
        padding-left: 0.5em;
         border-radius: 1em;
         width: 20vw;
         height: 20vh;
         background-color: rgba(0, 0, 0, 0.329);
         color: rgb(255, 219, 217);
         margin: 2em;
         display:none;

    }
     .body-bg {
         position:absolute;
         top:0;
         left: 0;
         background: url('../background.jpg');
         background-size:cover;
         width: 100%;
         height: 100%;
         z-index: -1111;
        }
        .body-fg{
            position:absolute;
            z-index: -10;
            top:0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
        }
        .contact-me{
            position: absolute;
            bottom: 10vh;
            margin: 0 50% 0 50%;
            left:-3.5em;
            width: 7em;
            font-family: 'DynaPuff', cursive;
            background-color: rgba(0, 0, 0, 0.0);
            border: none;
            
            
        }
        .material-symbols-outlined{
            margin: 1em ;
            
        }
        .name{
           padding-right: 0.5em;
           padding-left: 0.5em;
            border-radius: 1em;
            width: fit-content;
            background-color: rgba(0, 0, 0, 0.329);
            color: rgb(255, 219, 217);
            margin: 1em;
        }
        .links{
            display: flex;
            :hover{
                cursor: pointer;
            }
            .links-icon
            {:hover{
                background-color:rgba(0, 0, 0, 0.295);
                border-bottom: 5px solid red;
            }}
        }

       .contact{
        
            display: none; 
            position: fixed; 
            z-index: 0; 
            left: 0;
            top: 0;
            width: 100%; 
            height: 100%; 
            overflow: auto; 
            background-color: rgb(0,0,0); 
            background-color: rgba(0,0,0,0.4); 
            -webkit-animation-name: fadeIn; 
            -webkit-animation-duration: 0.4s;
            animation-name: fadeIn;
            animation-duration: 0.4s
       }

            .contact-content {
                border-radius: 1em;
            position: fixed;
            bottom: 10vh;
            background-color: #fefefe;
            left:10vw;
            width: 80vw;
            
            -webkit-animation-name: slideIn;
            -webkit-animation-duration: 0.4s;
            animation-name: slideIn;
            animation-duration: 0.4s
            }
            

            .close {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
            }

            .close:hover,
            .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
            }

            .contact-header {
            border-radius:1em 1em 0 0;
            padding: 2px 16px;
            background-color: #d16d45;
            color: white;
            }

            .contact-body {
                border-radius: 1em;
                padding: 2px 16px;}

            .contact-footer {
            border-radius: 0 0 1em 1em;
            padding: 2px 16px;
            background-color:#d16d45;
            color: rgba(255, 255, 255, 0);
            }

                /* Add Animation */
                @-webkit-keyframes slideIn {
                from {width: 10%;opacity: 0 ;} 
                to { opacity: 1}
                }

                @keyframes slideIn {
                    from {width: 10%;opacity: 0} 
                    to {opacity: 1}
                }

                @-webkit-keyframes fadeIn {
                from {opacity: 0} 
                to {opacity: 1}
                }

                @keyframes fadeIn {
                from {opacity: 0} 
                to {opacity: 1}
                }

                @-webkit-keyframes fadeout{
                    from {opacity: 0} 
                    to {opacity: 1}
                }
                @keyframes fadeout{
                    from {opacity: 0} 
                    to {opacity: 1}
                    }
    

